<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>

    <%= csrf_meta_tags %>
    <%= yield(:meta) if content_for?(:meta) %>

  </head>
  <body>
<!-- navbar-default -->
    <div class="navbar navbar-default navbar-fixed-top top_menu">
      <div class="container">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><h1>Admin</h1></a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
              <li><%= link_to "Articles", articles_path%></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container main_content">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
        <%= yield %>
      <div class="clearfix"></div>
    </div> <!-- /container -->

    <footer >
    </footer>

    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "admin/application", :media => "all" %>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700,800,900&amp;subset=cyrillic-ext" rel="stylesheet" async>
    <%= javascript_tag "application" %>
    <%= yield(:js) if content_for?(:js) %>
    <%= yield(:footer_js) if content_for?(:footer_js) %>
  </body>
</html>
